*{
	font-family: "Source Sans Pro", sans-serif;
}
.container{
	display: grid;
	grid-template-areas: "navbar-left display-right";
	grid-template-columns: 0.5fr 3fr;
	width: 100%;
	height: 100%;
}
.navbar-left{
	height: 100%;
	color: white;
	background: #0D1060;
	background: -webkit-linear-gradient(#8380B8, #0D1060);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#8380B8, #0D1060); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-left__profile, .navbar-left__completed, .navbar-left__search ,.navbar-left__addCourse, .navbar-left__editBid, .navbar-left__dropCourse, .navbar-left__dropSection, .navbar-left__logout, .navbar-left__smuLogo{
	padding: 15px;
	text-align: right;
}
.navbar-left__completed, .navbar-left__search, .navbar-left__addCourse, .navbar-left__editBid, .navbar-left__dropCourse, .navbar-left__dropSection, .navbar-left__logout{
	font-size: small;
}
.profile-picture{
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-details p{
	text-align: center;
	margin: 0;
}
.profpic{
	height: 5em;
	width: 5em;
	border-radius: 50%;
}
.navbar-left__smuLogo img{
	width: 10em;
}
.navbar-left__completed:hover, .navbar-left__search:hover, .navbar-left__addCourse:hover, .navbar-left__editBid:hover, .navbar-left__dropCourse:hover, .navbar-left__dropSection:hover, .navbar-left__logout:hover{
	background: white;
	color: #0D1060;
}
.display-right__table-dates, .display-right__table-cart, .display-right__table-enrolment{
	padding: 15px;
}
.display-right__table-dates{
	padding-top: 0;
}
.display-right__table-cart__table, .display-right__table-dates__table, .display-right__table-enrolment__table{
	width: 100%;
}
.display-right__table-enrolment{
	display: grid;
	grid-template-areas: "display-right__table-enrolment__table display-right__table-timetable__table";
	grid-template-columns: 49% 50%;
}
.content-container__table{
	width: 100%;
}
table {
    border: 1px solid #D6D5E4;
    -webkit-box-shadow: 6px 6px 10px 3px rgba(214,213,228,1);
    -moz-box-shadow: 6px 6px 10px 3px rgba(214,213,228,1);
    box-shadow: 3px 3px 7px 2px rgba(214,213,228,1);
}
.table-title{
	/*text-align: center;*/
    font-size: x-large;
    color: #0D1060;
}
th, td{
	/*text-align: center;*/
	/*width: 10em;*/
}
th{
	text-align: center;
}
.form-container{
	padding: 2em;
    width: 25em;
    /*height: 17em;*/
}
.form-container form{
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 10px 10px 10px 1px rgba(13,16,96,0.5);
	-moz-box-shadow: 10px 10px 10px 1px rgba(13,16,96,0.5);
	box-shadow: 10px 10px 10px 1px rgba(13,16,96,0.5);
}
.form-header{
	width: 100%;
    height: 3em;
    background: #0D1060;  /* fallback for old browsers */
	background: -webkit-linear-gradient(#8380B8, #0D1060);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#8380B8, #0D1060);
	color: white;
	border-radius: 10px 10px 0 0;
}
.form-group{
	padding: 0.5em;
}
.form-header p{
	margin: 0;
    font-size: larger;
    padding-top: 0.5em;
    padding-left: 1em;
}
.form-control{
	width: 15em;
    height: 2em;
    border-radius: 5px;
    border: 1px solid grey;
}
.submit-btn{
	width: 5em;
    height: 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}
.form-btn{
	border-radius: 10px;
    border: none;
    margin-top: 1em;
    height: 3em;
    cursor: pointer;
    margin-bottom: 1em;
    margin-left: 10px;
}
.content-container{
	padding: 2em;
}
.display-right__container{
	padding: 2em;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.modal-content p {
	line-height: 1em;

}
.close-button {
	margin: 0 auto;
	display: block;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
	background-color: lightgray;
	padding: 5px;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


